body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(92, 92, 92);
    font-size: 20px;
    background: #a7d7d2;
}
main {
    max-width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
    box-shadow: 1px 4px 11px 10px #243a5821;
    min-height: 93vh;
}
section {
    padding: 1rem;
}
.skill-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.skill-item {
    max-width: 150px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: .5rem;
 /* настраиваем плавность */
    transition: box-shadow .5s,
                transform .5s;

}
.skill-item:hover {
    box-shadow: 
        0 5px 15px rgba(0, 0, 0, 0.15),
        inset 0 0 10px rgba(140, 223, 248, 0.443);
    /* поднять на 5px */
        transform: translateY(-5px);
}